body {
    background-color: #121212;
}

.coursebtngroup {
    margin: 0px 15px;
    position: relative;
}

select {
    font-family: 'Montserrat', serif;
    font-size: 18px;
}

label {
    color: #ffffffee;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    border: none;
    background-image: linear-gradient(-90deg, #bb86fc, #57c0e0);
    background-size: 110%;
    color: #ffffffee;
    font-family: 'Montserrat', serif;
    font-size: 18px;
}

.studentstable {
    position: relative;
    top: 20px;
    width: 100%;

}

table, th, td {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffffee;
    border: 1px solid #ffffffee;
    border-collapse: collapse;
    font-size: 16px;
}

